{% extends "productos/base.html" %}
{% block title %}Lista de Precios{% endblock %}
{% block content %}
{%include "productos/components/form_errors.html"%}
<div class="col-auto ml-auto d-print-none">
  <div class="btn-list">

    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-price">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
      Agregar Preciador
    </a>
<form class="form-control" action="{%url 'multiprint'%}" method="GET" target="_blank">

  <button class="btn btn-primary" type="submit" target="_blank">Imprimir</button>
    <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-season" aria-label="Create new report">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
    </a>
  </div>
</div>
<div class="table-responsive">
<hr>

<table class="table  table-hover" id="Data" width="100%" cellspacing="0">
  <thead>
  <tr>
    <th>
      <input type="checkbox" onClick="toggle()" id="validator">Todos<br/>
    </th>
    <th>Temporada</th>
    <th>Nombre</th>
    <th>Precio Oferta</th>
    <th>Cantidad</th>
    <th>+</th>
  </tr>
</thead>
<tbody>
  {%for p in pricers%}
  <tr>
    <td>
        <input type="checkbox"  name="id" value="{{p.pk}}" >
    </td>
    <td>{{p.season.name}}</td>
    <td>{{p.product.name}}</td>
    <td>Q.{{p.product.price}}</td>
    <td>{{p.cant}}</td>
    <td><a class="btn btn-outline-secondary" href="#">Abrir</a></td>
  </tr>
{%endfor%}
</tbody>
</table>

</form>
</div>
{% include "productos/components/modals/new_price.html" %}


{% endblock %}

{%block script%}
<script>
  $(function(){
    $("#product_list").select2({
      dropdownParent: $('#modal-price'),
      allowClear: false,
      multiple: false,
      maximumSelectionSize: 1,
      placeholder: "Busca un producto",
    });
  });
</script>

{%include 'productos/components/dataTable-es.js'%}

</script>

{%if messages%}
<script>
  {%include 'productos/components/sweet_alert.js'%}
  {%include 'productos/components/sweet_alert_error.js'%}
</script>
{%endif%}

{%endblock%}
